@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Roboto:wght@100;400;700&display=swap');
* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}
html {
    scroll-behavior: smooth;
}
h1 {
    color: forestgreen;
    font-weight: lighter;
    font-size: 2em;
    display: inline;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}
a {
    color: crimson;
    text-decoration-line: none;
    text-decoration-color: tomato;
}
a:visited {
    color: tomato;
}
a:hover {
    background-color: lightskyblue;
    text-decoration-line: underline;
}
#contact {
    color: firebrick;
    font-weight: bold;
}
.price {
    color: orangered;
    font-weight: bold;
    font-style: italic;
}
#menu {
    background-color: rgb(171, 228, 238);
    border-style: solid;
    border-color: seagreen orangered;
    border-width: 3px;
    padding: 0.5em 0.2em;
    margin: 0em auto;
    width: 30%;
    height: 3em;
    text-align: center;
    line-height: 2em;
    box-sizing: border-box;
}
.special {
    color: salmon;
}